html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
  }
  
  body {
    background: #E5E5E5;
    margin: 30px 50px;
    line-height: 1.4;
  }
     
  .wrapper {
    display: grid;
    grid-gap: 20px;
  }

  
/* Navigation */

.main-nav ul {
    list-style: none;  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    padding: 15px;
    
  }  

  .main-nav a {
    background: #ffffff;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: #494747;
    text-transform: uppercase;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
  
  .main-nav a:hover {
    background: #5e5c5c;
    color: #ffffff;
  }
  
   
  /* Showcase */
  .showcase {
    background: url(https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    min-height: 275px;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    margin: 5px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
        
  }
  
  .showcase h1 {
    color: #ffffff;
    font-size: 4rem;
    padding-left: 50px;
    padding-top: 80px;
    
  }

  .material-icons {
    font-size: 54px;
  }
  
  
/* CSS for center boxes with icons */
   .boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 5px;
  }
  
  .box {
    background: #ffffff;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    margin: 0;
  }

  .box > p {
    text-align: left;
  }
  
  

/* Info */
  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    background: #ffffff;
    box-shadow: 0 1px 5px grey;
    margin: 5px;
    padding: 3rem;
    grid-gap: 30px;
        
  }

  .info > img {
    object-fit: cover;
    width: 80%;
  }
  
  
/* Footer CSS*/
  footer {
    max-height: 50px;
    background: #333333;
    color: #ffffff;
    text-align: center;
  }
